.helper {
	font-size:200%; }

a.btn {
	font-size: 300%}

	div.test1 {
		white-space: pre;
	}

h1 {
	color : skyblue; text-decoration : underline; }

/* html {
  background-color: #C4EF99; } */

body {
	background-color : #EEE1EE; }

.title1 {
	font-size:300%; }
